* {
    padding:0;
    margin:0;
    box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
}
header {
    padding:0 45px;
    background-color:#283593;
    color:#fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .nav {
    list-style: none;
    display:flex;
}

header .nav a {
    color:#fff;
    display:block;
    transition: all 0.3s ease-out;
}
header .nav a:hover {
    color:#c5cae9;
    transform: rotate(6deg);
}
header .nav li {
    margin-left:20px;
}
.main-content {
    background-color:#c5cae9;
    padding: 60px 45px;
    display:flex;
    justify-content: center;
}
.main-content-inner {
    max-width:760px;
}
.main-content h1 {
    font-weight: normal;
    font-size: 4rem;
    margin:0;
}
.main-content p {
    font-size:1.18rem;
    line-height:1.6;
}